* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
    background-color: black;
   
}

.Container {
    width: 75vw;
    height: 85vh;
    background-color: #CDE5FF;
    display: flex;
    align-items: center;
    padding-right: 50px;
    text-align: start;
    justify-content:space-between; 
}

.subcontainer {
    width: min(60vw, 250px);
    height: 75vh;
    background-color: #384450;
    display: grid;
    grid-template-columns: repeat(4, minmax(50px, 1fr));
    align-content: center;
    justify-content: center;
    gap: 10px;
    padding: 5%;
     border-radius: 8%;
    
}
.heading{
    flex: 1;                       
    display: flex;
    flex-direction: column;
    justify-content: center;       
    align-items: center;           
    text-align: center;
}


.heading h1{
    font-size:48px;
    font-weight:bold;
}

.heading h2{
    font-size:18px;
    margin-top:10px;
    color:#333;
}


button {
    width: 50px;
    height: 50px;
    border: 1px solid black;
    border-radius: 25px;
    box-shadow: 3px 3px 6px rgba(0,0,0,0.4);
    aspect-ratio: 1 / 1;
    font-size: clamp(12px, 3vw, 16px);
    background-color: #384450;
    color: white;
    margin-top: 5px;
}

@media (max-width: 768px) {
    .Container{
        flex-direction: column;  
        justify-content: center;
        padding: 20px;
        gap: 30px;
        height: 100vh;
          width: 100%;
    }

    .heading{
        flex: none;
        text-align: center;
    }

    .subcontainer{
        width: min(90vw, 300px);
        height: auto;
        padding: 15px;
    }
}

.one{
    width:100px
}
.input{
    grid-column: 1/-1;
     grid-row: 1/2;
    width: 100%;
    height: 50px;
     text-align: right;
    padding: 10px;
    font-size: 20px;
    border-radius: 10px;
    border: none;
        align-self: start;

}

