* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;

}

.container {
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(#149DE4, #62C2CF);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.input-box {
    width: 80%;
    height: 30%;
    ;
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    margin-bottom: 25%;
}

.input {
    width: 25%;
    height: 35px;
    border-radius: 10px;
    outline: none;
    border: 2px solid white;

}

.button {
    width: 10%;
    height: 35px;
    background-color: green;
    border-radius: 20px;
    color: white;
    border: 1px solid green;
    font-weight: bold;
    cursor: pointer;
}

.heading {
    color: white;
    margin-top: 5%;
}

.button:hover {
    background-color: transparent;
}

.input:focus {
    background-color: transparent;
    color: white;
    font-weight: bold;
    border-radius: 15px;
}

.empty-text {
    color: white;
    opacity: 0.8;
    margin-top: 5px;
}

@media screen and (max-width:800px) {
    .input {
        width: 50%;
        height: 40px;
    }

    .button {
        width: 20%;
        height: 40px;

    }

    .input-box {
        margin-bottom: 60px;
    }
}